body {
  /* background: url("./assets/img/mainbg.png") repeat center; */
  background: #cfd9e3;
  margin: 0;
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: "Noto Sans SC", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
